

p {
    border:1px solid greenyellow;
    margin: 20px;
}

#header {

    position: relative;
    bottom: 0;
    right: 0;
    height: 8%;
    width: 300%;
    background-color: pink;
    color: white;

}