
img {

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;

}

#header {

    text-align: center;
    color: gold;

}

#barralateral {
    position: unset;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: grey;
    padding: 10px;
}

div {
    
   
    
    
}
